<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">





<!--  Inyección automática usando el bytype -->
	<bean id="emailService"

		class="com.cursospring.spring.EmailService" autowire="byType">

	</bean>

	<!-- autowire-candidate=false  para evitar que sea inyectado -->
		<!-- primary=true  para darle prioridad cuando haya varios. Como un defalult -->

	<bean id="saludator" class="com.cursospring.spring.Saludator">
		<property name="mensaje"
			value="Inyección automática de dependencias"></property>
	</bean>
</beans>

